html,
body {
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

#canvas {
    min-width: 100%;
    min-height: 100%;
}

.device {
    width: min-content;
    display: inline-block;
    position: absolute;
    padding-top: 5px;
}

.device:hover {
    cursor: move;
}

.device input {
    width: 100%;
    border: none;
    /*border-bottom: 1px solid gray;*/
    text-align: center;
    background: transparent;
}

.device .AES50 {
    border: 1px solid black;
    background: white;
    height: 1em;
    width: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: crosshair !important;
}

.device .AES50:hover {
    background: black;
    color: white;
}

.x32c img {
    width: 260px;
}

.sd16 img, .sd8 img {
    width: 200px;
}

.detail {
    width: 100% !important;
    height: 100% !important;
    padding-top: 0px !important;
}

#canvas svg {
    height: 100%;
    width: 100%;
}

.lines {
    position: absolute;
    z-index: -1;
}

.line {
    stroke-width: 3px;
}

/* MODAL STYLE */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 200px;
    position: absolute;
    top: 15vh;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    left: 50%;
    translate: -50%;
    opacity: 1;
    transition: visibility 0s, opacity 1s ease-in-out;
}

#modal-title {
    margin: 0px 0px 10px 0px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input, .modal select {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
}

.buttons {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    border: 2px solid black;
    flex-grow: 3;
}

.cancel {
    background-color: white;
    color: black;
    flex-grow: 1 !important;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
    transform: translate(0px, -7px);
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
    opacity: 1;
    transition: visibility 0s, opacity 1s ease-in-out;
}

.hidden {
    display: none;
    opacity: 0;
}

/* Columns */
.column-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.column {
    flex-grow: 1;
}

/* CUSTOM DROPDOWN */
.dropdown-wrapper {
    width: 100%;
    height: 45px;
    float: left;
    position: relative;
    font-size: 0.9em;
    flex-grow: 1;
}
  
.trigger-dropdown {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 0;
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor:pointer;
    text-align: left;
    display: flex;
    gap: 10px;
    align-items: center;
}
  
.trigger-dropdown:hover {
    background-color:#eee;
}
  
.trigger-dropdown .fa-caret-down {
    float: right;
    line-height: 22px;
}
  
.trigger-dropdown svg {
    width: 22px;
    min-width: 22px;
    float: left;
    height: 22px;
    min-height: 22px;
}
  
.trigger-dropdown span {
    float: left;
    margin: 0px;
    line-height: normal;
    flex-grow: 1;
    padding-top: 2px;
}
  
.dropdown-menu {
    width: calc(200% + 10px);
    display:none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 45px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 30vh - 150px);
    min-height: 100px;
    overflow-y:scroll;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-wrap: wrap;
    gap: 0px;
    background-color: #fff;
}

.dropdown-menu button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right {
    left: calc(-100% - 10px);
}
  
.dropdown-menu.show {
    display:flex;
}
  
.dropdown-item svg {
    width: 22px;
    min-width: 22px;
    min-height: 22px;
    height: 22px;
}
  
.dropdown-item {
    width: 33.33%;
    height: 45px;
    line-height: 25px;
    border: 0;
    padding: 0.7rem;
    cursor: pointer;
    transition:0.2s ease-in;
    background-color:#fff;
    color: #5a616c;
    text-align: left;
}
  
.dropdown-item span {
    margin: 0px;
    line-height: normal;
    padding-top: 2px;
}
  
.dropdown-item:hover {
    background-color:#e5e5e5;
}
